// colors
$primary-color: #9c1da3;
$primary-color-active: #67016E;
$secondary-color: #559e0f;
$close-color: #FF5B5FFF;
$disabled-color: #A0A0A0;
$hover-text-color: #ffffff;
$background-color: #ffffff;

$font-size: 15px;